include LICENSE
include README.md
include requirements.txt
recursive-include cargo_flow *.html
recursive-include cargo_flow *.txt
recursive-include cargo_flow *.csv
recursive-include cargo_flow *.css
recursive-include cargo_flow *.js
recursive-include cargo_flow *.json
recursive-include cargo_flow *.md
recursive-include cargo_flow *.png
recursive-include cargo_flow *.py
recursive-include cargo_flow *.svg
